.movies-card{
    max-width: 364px;
    max-height: 271px;
   display: flex;
   flex-direction: column;
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movies-card__data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 14px;
}

.movies-card__title{
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    padding: 14px 14px 9px;
}

.movies-card__time{
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: #A0A0A0;
    margin: 0;
    padding-left: 14px;
    padding-bottom: 14px;
}

.movies-card__flag{
    height: 30px;
    width: 30px;
    border: 1px solid #F9F9F9;;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.movies-card__flag_green{
    background: #2BE080;
}

.movies-card__flag:hover{
    background: #2BE080
}

.movies-card__image{ 
    object-fit: cover;
    width: 364px;
    height: 203px;
}

@media screen and (max-width: 768px){
    .movies-card__image{
        width: 339px;
        height: 190px;
    }
}

/* 
@media screen and (max-width: 767px){
    .movies-card__image{
        width: 339px;
        height: 190px;
    }
} */