
.profile{
   max-width: 410px;
   margin: 0 auto;
}

.profile__title{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
}

.profile__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__input{

}

.profile__input_type_name{

}

.profile__input{

} 

.popup__input_type_email{
    
}