.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 55px 16px 70px;
}

.header__logo-auth-page{
    justify-content: start;
    padding: 70px 0 40px 0;
    max-width: 396px;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .header{
        padding: 18px 30px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 540px){
    .header{
        padding: 18px 14px;
        margin: 0 auto;
    }

    .header__logo-auth-page{
        justify-content: center;
        padding: 55px 0 40px 0;
    }
}