.register{
    max-width: 396px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 505px;
    padding-bottom: 69px;
 }
 
 .register__title{
     text-align: left;
     font-size: 24px;
     font-weight: 500;
     line-height: 29px;
     letter-spacing: 0em;
     margin: 0;
     padding-bottom: 40px;
 }
 
 .register__form{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 65px;
 }
 
 .register__input{
     border: 0;
     outline:none;
     font-style: normal;
     font-weight: 500;
     font-size: 11px;
     line-height: 13px;
     max-width: 396px;
     width: 100%;
     padding-bottom: 10px;
     border-bottom: 1px solid #E8E8E8;
 }

 .register__input:focus{
    border-bottom: 1px solid #FF6838;
}
 
 .register__input_type_name{
     
 }
 
 .register__input-name-block{
     display: flex;
     flex-direction: column;
     max-width: 396px;
     width: 100%;
 }
 
 .register__input-name-field{
     margin: 0;
     font-style: normal;
     font-weight: 500;
     font-size: 11px;
     line-height: 13px;
     padding-bottom: 5px;
 }
 
 .register__input-email-block{
     display: flex;
     flex-direction: column;
     padding-top: 17px;
     max-width: 396px;
     width: 100%;
 }

 .register__error{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #FF6838;
    height: 24px;
 }
 
 .register__buttons{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 17px;
     padding-top: 69px;
     padding-bottom: 70px;
 }
 
 .register__button-reg{
    border: 0;
    border-radius: 3px;;
    background-color: #FF6838;
    max-width: 396px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: white;
    padding: 15px 0;
    cursor: pointer;
 }
 
 .register__button-reg_disable{
    opacity: 0.3;
    pointer-events: none;
 }

 .register__link-signin{
    border: 0;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

 .register__link{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color:#FF6838;
    padding-left: 5px;
}

.register-input__error{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color:#FF6838;
    padding-left: 5px;
}

 .register__input-password-block{
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    max-width: 396px;
    width: 100%;
 }

.register__input-password-field{
     margin: 0;
     font-style: normal;
     font-weight: 500;
     font-size: 11px;
     line-height: 13px;
     padding-bottom: 5px;
}

.register__input_type_password{
    display: flex;
     flex-direction: column;
}

@media screen and (max-width: 540px){
    .register{
        height: 500px;
     }
    
    .register__button-reg{
        max-width: 260px;
        width: 100%;
        font-size: 12px;
        line-height: 15px;
    }

    .register__link-signin{
        font-size: 12px;
        line-height: 15px;
    }

    .register__link{
        font-size: 12px;
        line-height: 15px;
    }

    .register__input-email-block{
        max-width: 260px;
        width: 100%;
    }

    .register__input-name-block{
        max-width: 260px;
        width: 100%;
    }

    .register__input-password-block{
        max-width: 260px;
        width: 100%;
    }

    .register__title{
        text-align: center;
    }
}
